<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f4f4;
        height: 100%;
        width: 100%;
    }
    .main-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        min-height: 700px;
    }
</style>

{% block header %}
    {% include 'core/header.html' %}
{% endblock %}

<div class="main-wrapper">
{% block content %}
{% endblock %}
</div>
{% block footer %}
{% endblock %}

</body>
</html>