{% extends 'core/base.html' %}
{% block content %}
    <style>
        .page-title {
            text-align: center
        }
        .cart-container {
            padding: 25px;
        }
        .cart-item {
            display: flex;
            flex-direction: row;
            padding: 20px 0;
        }
        .item {
            flex: 1 55%;
        }
        .item div {
            padding: 8px 0;
        }
        .item-amount {
            flex: 1 15%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .item-total-price {
            flex: 1 15%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .form-item-delete {
            flex: 1 15%;
            text-align: center;    
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .cart-total {
            text-align: right;
            font-weight: 900;
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 50%;
        }
        img {
            max-width: 40%;
        }
        @media (max-width: 880px) {
            .table-info {
                display: none;
            }
            .hr {
                display: none;
            }
        }
        @media (min-width: 880px) {
            .table-info {
                display: flex;
                flex-direction: row;
            }
            .name-info {
                flex: 1 51%;
                padding-left: 30px;
            }
            .amount-info {
                flex: 1 10%;
            }
            .price-info {
                flex: 1 20%;
            }
            .empty-info {
                flex: 1 0%;    
            }
            .hr {
                display: block;
            }
        }
        @media (max-width: 700px) {
            .cart-item {
                flex-direction: column;
                text-align: center;
            }
        }
        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        input[type=tel] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        label {
            margin-bottom: 10px;
            display: block;
        }
        .button {
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 4px;
            position: relative;
            background-color: red;
            border: none;
            color: #fff;
            padding: 8px;
            width: 200px;
            text-align: center;
            transition-duration: 0.4s;
            overflow: hidden;
            box-shadow: 0 5px 15px #193047;
            border-radius: 4px;
            margin: 0 auto;
        }
        .button:hover {
            background: #fff;
            box-shadow: 0px 2px 10px 5px #1abc9c;
            color: #000;
        }

        .button:after {
            content: "";
            background: #1abc9c;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }

        .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }

        .button:focus { outline:0; }
        .pb-100 {
            padding-bottom: 100px;
        }
    </style>
    {% if object_list %}
    <h1 class="page-title">Оформить заказ</h1>
    <div class="table-info">
            <div class="name-info">Название (краткое описание)</div>    
            <div class="amount-info">Количество</div>
            <div class="price-info">Стоимость</div>
            <div class="empty-info"></div>
    </div>
    <hr class="hr">        
    {% for items in object_list %}
        <div class="cart-container">
            {% for item in items.dishes.all %}
                <div class="cart-item">
                    <div class="item">
                        <div class="item-name">{{ item.dish.title }}</div>
                        <img src="{{ item.dish.image.url }}">
                        <div class="item-price">{{ item.dish.price }} рублей</div>
                        <div class="item-recipe">{{ item.dish.recipe }}</div>
                    </div>
                    <div class="item-amount">{{ item.amount }}</div>
                    <div class="item-total-price"></div>
                    <form class="form-item-delete" action="{% url 'menu:remove_from_basket' %}">
                        {% csrf_token %}
                        <a data-dish-id="{{ item.id }}" href="#" class="item-delete">удалить</a>
                    </form>
                </div>
            {% endfor %}
            <div class="cart-total">Сумма заказа: {{ items.total }} рублей</div>
        </div>
    {% endfor %}  
        <hr>
        <div>
            <form class="pb-100" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" type="submit" value="Заказать"/>
            </form>
        </div>
    {% else %}
    <h1 class="page-title">Ваша корзина пуста</h1>
    {% endif %}
    <script>
        function itemTotalPrice () {
            var item_total_price = 0;    
            $('.cart-item').each(function (){
                var price = parseFloat($(this).find('.item-price').text());
                var amount = parseFloat($(this).find('.item-amount').text());
                item_total_price = price * amount;
                $(this).find('.item-total-price').text(item_total_price + ' рублей')
            })
        }
        itemTotalPrice()
        $('.item-delete').on('click', function (e) {
            e.preventDefault();
            var $this = $(this)
            var data = {};
            var csrf_token = $('.form-item-delete [name="csrfmiddlewaretoken"]').val();
            var url = $('.form-item-delete').attr('action');
            var remove_item_id = $(this).data('dishId');
            data.remove_item_id = remove_item_id;
            data['csrfmiddlewaretoken'] = csrf_token;
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (data) {
                    if(data.is_deleted) {
                        $this.closest('.cart-item').remove();
                        $('.cart-total').text('Сумма заказа: ' + data.basket_total + ' рублей')
                        $('.basket_count').text(data.dishes_total)
                    }
                
                }
            })
        })
    </script>   
{% endblock %}